<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2(自分用)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/cdce8a28a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <p id="notice"><%= notice %></p>

    <% if user_signed_in? %><!--ログインしているときのみ表示させる-->
      <% unless current_page?(root_path) %><!--root_pasuを表示しているときは、unless～endの間を表示しない-->
      <div class="container">
        <div class='row'>
          <div class='col-md-5 offset-md-2'>
            <%= render 'layouts/seach' %>
          </div>
            <%= render 'tagsearches/tagsearch' %>
        </div>
      </div>
      <% end %>
    <% end %>

      <main>
      </main>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
